<%= partial('layouts/head1') %>

  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <%= partial('layouts/head2') %>  

<!-- 
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js"></script>
  -->
</head> 
<body>
  <h1>Walkable.me</h1>
  <div id="header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="vendors nav">
          <li class="dropdown">
          <a class="vendor" href="#" data-toggle="dropdown">walkable <b class="caret"></b></a>
            <ul class="dropdown-menu"> 
              <li><a class="yelp" href="#" data-toggle="dropdown">yelp</a></li>
              <li><a class="groupon" href="#" data-toggle="dropdown">groupon</a></li>
            </ul>
           </li>
        </ul>
        
        <ul class="hidden nav pull-right">
         <li><a href="#" id="sync"><i class="icon-white icon-refresh"></i>&nbsp;Refresh</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div id="wrapper" class="container">
    <div id="main" role="main">
      <%= yield %>
    </div>
    <div id="loading" class="modal">
      <div class="modal-header"></div><div class="modal-body">Loading...</div>
    </div>
  </div> <!-- //#wrapper -->

  <script type="text/javascript">
    var opts = {
      deals: {
        market: 'chicago'
      },
      vendors: {
        data: <%= vendors %>
      }
    };

    window.app = new App($('#main'), opts);
    window.addEventListener('popstate', function(e) {
      window.app.navigate(location.pathname.substr(1), true);
    });
   </script>
</body>
</html>
