<%= partial('layouts/head1') %>

  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1;"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>


  <!-- Javascript -->
  <!-- 
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script> 
  -->
  <script src="/javascripts/application.js?<%= Time.now.to_i %>"></script>
  <script src="/javascripts/bootstrap-tab.js"></script>
  <script src="/javascripts/site.js?<%= Time.now.to_i %>"></script>

  <!-- CSS
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.full.css"/>
  <style type="text/css">
    .hidden { display:none;}
    .block  {display:block;}
  </style>
  <link rel="stylesheet" href="/stylesheets/site.css?<%= Time.now.to_i %>" />

</head> 
<body>
  <div id="walkapp">
    <%= yield %>

  </div>
  <footer id="footer">
    <a href="http://www.walkable.me" title="Walkable deals">Walkable.me</a>&nbsp;-&nbsp;Hyper-local Deals Done Right.</a> 
  </footer>
  <script type="text/javascript">
    var opts = {
      deals: {
        market: 'chicago'
      },
      vendors: {
        data: <%= vendors %>
      }
    };

    window.app = new App($('#main'), opts);
    window.addEventListener('popstate', function(e) {
      window.app.navigate(location.pathname.substr(1), true);
    });
   </script>
</body>
</html>
